@page "{id:int}"
@model HomeChoreTracker.Portal.Pages.Home.HomeMembersModel

@{
	Layout = "~/Pages/Shared/_Layout.cshtml";
	ViewData["Title"] = "Home Members";
}

@section HeadContent
{
	<title>@ViewData["Title"] - Home Chore Tracker</title>
	<link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" asp-append-version="true">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		  rel="stylesheet" asp-append-version="true">
	<link href="~/css/sb-admin-2.min.css" rel="stylesheet" asp-append-version="true">
	<!-- Add the following lines to include required Bootstrap and jQuery files -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
}
@if (!User.Identity.IsAuthenticated)
{
	Response.Redirect("/Auth/Login");
}
else if (User.IsInRole("User"))
{
	<div class="row">
		<div class="col-lg-12">
			<a class="btn btn-light btn-sm" href="/Home/@Model.Id"><i class="fa fa-home mr-2" aria-hidden="true"></i>Home</a>
			<a class="btn btn-light btn-sm" asp-page="./PointsHistory" asp-route-id="@Model.Id"><i class="fa fa-history mr-2" aria-hidden="true"></i>Points History</a>
			<a class="btn btn-light btn-sm" asp-page="./Finance" asp-route-id="@Model.Id"><i class="fa fa-money-bill mr-2" aria-hidden="true"></i>Home Finances</a>
			<a class="btn btn-secondary btn-sm" asp-page="./HomeMembers" asp-route-id="@Model.Id"><i class="fa fa-users mr-2" aria-hidden="true"></i>Home Members</a>
			<a class="btn btn-light btn-sm" asp-page="./Invite" asp-route-id="@Model.Id"><i class="fa fa-user-plus mr-2" aria-hidden="true"></i>Add new home member</a>

			<div class="card mb-4 py-3 border-left-primary mt-2">
				<div class="collapse show">
					<div class="card-body">

						@if (Model.Unauthorized)
						{
							<p>You don't have permission to view this content.</p>
						}
						else if (Model.HomeMembers != null && Model.HomeMembers.Any())
						{
							<div class="text-center">
							<div class="table-responsive">
								<table class="table table-bordered">
								<thead>
									<tr>
										<th>Username</th>
										<th>Email</th>
									</tr>
								</thead>
								<tbody>
									@foreach (var member in Model.HomeMembers)
									{
										<tr>
											<td>@member.UserName</td>
											<td>@member.Email</td>
										</tr>
									}
								</tbody>
							</table>
							</div>
							</div>
						}
						else
						{
							<p>No home chore bases found.</p>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
}
else
{
	<div class="row">
		<div class="col-lg-12">
			<div class="card mb-4 py-3 border-left-primary">

				<div class="collapse show">
					<div class="card-body">
						<p>You don't have permission to view this content.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
}