@page
@model HomeChoreTracker.Portal.Pages.Homes.CreateModel
@{
	Layout = "~/Pages/Shared/_Layout.cshtml";
}
@section HeadContent
{
	<title>@ViewData["Title"] - Home Chore Tracker</title>
	<link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" asp-append-version="true">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		  rel="stylesheet" asp-append-version="true">
	<link href="~/css/sb-admin-2.min.css" rel="stylesheet" asp-append-version="true">
	<!-- Add the following lines to include required Bootstrap and jQuery files -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
}
@if (!User.Identity.IsAuthenticated)
{
	Response.Redirect("/Auth/Login");
}
else if (User.IsInRole("User"))
{
	<div class="row">
		<div class="col-lg-12">

			<a class="btn btn-light btn-sm mb-2" href="/Homes">Home chores</a>
			<a class="btn btn-secondary btn-sm mb-2" asp-page="./Create"><i class="fa fa-plus-circle mr-2" aria-hidden="true"></i>Create</a>

			<div class="card mb-4 py-3 border-left-primary">
				<div class="card-body">
					@if (!string.IsNullOrEmpty(TempData["ToastMessage"] as string) && (TempData["ToastType"] as string) == "success")
					{
						<div class="toast text-white bg-success border-0" id="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2500" style="width: auto; max-width: 100%;">
							<div class="toast-body">
								@TempData["ToastMessage"]
							</div>
						</div>
					}
					<form method="post" asp-page-handler="CreateHome">
						<div class="form-group">
							<label for="Name">Name</label>
							<input type="text" class="form-control" id="Name" name="CreateHome.Title" asp-for="CreateHome.Title">
							<span asp-validation-for="CreateHome.Title" class="text-danger"></span>
						</div>
						<div class="text-danger" style="padding-left: 0; margin-left: 0;">
							@if (!ModelState.IsValid)
							{
								<ul style="list-style-type:none; padding-left: 0; margin-left: 0;">
									@foreach (var modelStateKey in ViewData.ModelState.Keys)
									{
										foreach (var error in ViewData.ModelState[modelStateKey].Errors)
										{
											<li>@error.ErrorMessage</li>
										}
									}
								</ul>
							}
						</div>
						<button type="submit" class="btn btn-primary">Create</button>
					</form>
				</div>
			</div>
		</div>
	</div>
}
else
{
	<div class="row">
		<div class="col-lg-12">
			<div class="card mb-4 py-3 border-left-primary">
				<div class="collapse show">
					<div class="card-body">
						<p>You don't have permission to view this content.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-K+1ClXaRhPU17yAPQnQA4Gn4kKgdCjP/vt3kS2uF78w=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function () {
		$(window).on('load', function () {
			var toastMessage = '@TempData["ToastMessage"]';
			var toastType = '@TempData["ToastType"]';

			if (toastMessage && toastType === "success") {
				var toastEl = document.getElementById('toast');
				if (toastEl) {
					try {
						var toast = new bootstrap.Toast(toastEl);
						toast.show();
					} catch (error) {
						console.error("Error initializing toast:", error);
					}
				} else {
					console.error("Toast element not found");
				}
			}
		});
	});

</script>
