@page
@model HomeChoreTracker.Portal.Pages.Avatars.IndexModel
@{
	ViewData["Title"] = "Home Chores";
}
@if (!User.Identity.IsAuthenticated)
{
	Response.Redirect("/Auth/Login");
}
@if (User.IsInRole("Admin"))
{
	<div class="row">
		<div class="col-lg-12">
			<a class="btn btn-secondary btn-sm mb-2" href="~/Avatars"><i class="fa fa-user-circle mr-2" aria-hidden="true"></i>Avatars</a>
			<a class="btn btn-light btn-sm mb-2" asp-page="./Create"><i class="fa fa-plus-circle mr-2" aria-hidden="true"></i>Create</a>
			<div class="card mb-4 py-3 border-left-primary">
				<div class="card-body">
					@if (Model.AvatarsResponse != null && Model.AvatarsResponse.Any())
					{
						<table class="table">
							<thead>
								<tr>
									<th>Avatar type</th>
									<th>Image</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var avatar in Model.AvatarsResponse)
								{
									<tr>
										<td>@avatar.AvatarType</td>
										<td>
											@if (avatar.Image != null && avatar.Image.Length > 0)
											{
												<div style="overflow: hidden; width:100px;overflow: hidden;">
													<img src="data:image/jpeg;base64,@Convert.ToBase64String(avatar.Image)" alt="Level Image" class="card-img-top w-100" style="object-fit: cover; height:100%" />
												</div>
											}
										</td>
										<td>
											<button class='btn btn-sm' onclick="DisplayEditModal('@avatar.Id')">
												<i class='fa fa-pencil-alt'></i>
											</button>
										</td>
									</tr>
								}
							</tbody>
						</table>
					}
					else
					{
						<p>No level found.</p>
					}
				</div>
			</div>
		
		</div>
	</div>
}
else
{
	<div class="row">
		<div class="col-lg-12">
			<div class="card mb-4 py-3 border-left-primary">
				<div class="collapse show">
					<div class="card-body">
						<p>You don't have permission to view this content.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
}

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
	 aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="editModalLabel">Edit Avatar</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form method="post" asp-page-handler="Edit" id="editForm" enctype="multipart/form-data">
					<input type="hidden" id="editAvatarId" name="id" value="" />
					
					<div class="form-group">
						<label for="editAvatarType">Avatar Type</label>
						<select class="form-control" id="editAvatarType" name="editAvatarType" asp-for="EditAvatar.AvatarType" required>
							@foreach (var type in Enum.GetValues(typeof(HomeChoreTracker.Portal.Constants.AvatarType)))
							{
								<option value="@((int)type)">@type</option>
							}
						</select>
					</div>

					<div class="form-group">
						<label for="editImage">Current Image</label>
						<div style="overflow: hidden; width:100px; overflow: hidden;">
							<img id="currentAvatarImage" src="" alt="Current Avatar Image" class="card-img-top w-100" style="object-fit: cover; height:100%" />
						</div>
					</div>

					<div class="form-group">
						<label for="editNewImage">Upload New Image</label>
						<input type="file" class="form-control-file" id="editNewImage" name="editNewImage">
					</div>

					<button type="submit" class="btn btn-primary">Save changes</button>
				</form>
			</div>
		</div>
		</div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
	if (typeof DisplayEditModal === 'function') {
		console.log('DisplayEditModal function is defined.');
	} else {
		console.error('DisplayEditModal function is not defined.');
	}

	var currentAvatarId;

	function DisplayEditModal(avatarId) {
		currentAvatarId = avatarId;
		console.log(avatarId)
		$('#editAvatarId').val(avatarId);
		$.ajax({
			url: '@Url.Page("/Avatars/Index")?handler=Detail&id=' + avatarId,
			type: 'GET',
			success: function (data) {
				if (data) {
					console.log(data.type)
					var typeText = data.type;
					$('#editAvatarType option').filter(function () {
						return $(this).text() === typeText;
					}).prop('selected', true);
					$('#currentAvatarImage').attr('src', 'data:image/jpeg;base64,' + data.image);
				}
				$('#editModal').modal('show');
			},
			error: function (error) {
				console.error('Error fetching chore details:', error);
			}
		});
	}
</script>
