@page "{id:int}"
@using HomeChoreTracker.Portal.Constants
@model HomeChoreTracker.Portal.Pages.HomeChores.CalendarModel
@section HeadContent
{
    <title>@ViewData["Title"] - Home Chore Tracker</title>
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" asp-append-version="true">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet" asp-append-version="true">
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet" asp-append-version="true">
    <!-- Add the following lines to include required Bootstrap and jQuery files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" rel='stylesheet' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>

}
@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col-lg-12">
            <a class="btn btn-light btn-sm mb-2" href="/HomeChores/@Model.Id"><i class="fa fa-clone mr-2" aria-hidden="true"></i>Home chores</a>
            <a class="btn btn-light btn-sm mb-2" asp-page="./Create" asp-route-id="@Model.Id"><i class="fa fa-plus-circle mr-2" aria-hidden="true"></i>Create</a>
            <a class="btn btn-light btn-sm mb-2" asp-page="./AddHomeChoreFromDefaultList" asp-route-id="@Model.Id"><i class="fa fa-list mr-2" aria-hidden="true"></i>Add Home Chore From Default List</a>
            <a class="btn btn-secondary btn-sm mb-2" asp-page="./Calendar" asp-route-id="@Model.Id"><i class="fa fa-calendar mr-2" aria-hidden="true"></i>Home Calendar</a>
            <div class="card mb-4 py-3 border-left-primary">

                <a class='btn btn-sm' id='btnDelete' data-toggle="modal" data-target="#DeleteModal-@Model.Id"><i class="fa fa-clone mr-2" aria-hidden="true"></i>Assign tasks randomly</a>

                <div class="modal" tabindex="-1" role="dialog" id="DeleteModal-@Model.Id">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Assigned Confirmation</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to let system to assigned home chore?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <form method="post" asp-page-handler="Delete" asp-route-taskId="@Model.Id">
                                    <button type="submit" class="btn btn-primary">Assign</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="calendar" style="margin-left:4px"></div>
            </div>
        </div>
    </div>
}
else
{

}
<script>
    $(function () {
        $('#calendar').fullCalendar({
            defaultView: 'month',
            firstDay: 1,
            events: [
    @foreach (var chore in Model.HomeChoreResponse)
    {
        <text>
                    {
                        id: @chore.Id,
                        title: '@chore.Task.Name',
                        description: '@chore.Task.Description',
                        start: '@chore.StartDate.ToString("yyyy-MM-dd")',
                        end: '@chore.EndDate.ToString("yyyy-MM-dd")',
                        type: '@chore.Task.ChoreType',
                        time: '@chore.Task.Time',
                        assigned: '@chore.HomeMemberId',
                        color: '@(chore.HomeMemberId == null ? "#4e73df" : "#1cc88a")',
                        textColor: 'white'
                    },
        </text>
    }
                    ],
            eventRender: function (event, element) {
            },
            eventClick: function (calEvent, jsEvent, view) {
                $('#myModal').modal('show');
                // Display detailed task data in the modal

                var task = calEvent.task; // Assuming you're passing task details as part of the event data

                console.log(calEvent.description)

                $('#event-id').text(calEvent.id);
                $('#task-name').text(calEvent.title);
                $('#task-description').text(calEvent.description);
                $('#task-type').text(calEvent.type);
                $('#task-long-type').text(calEvent.time);
                $('#task-assigned').text(calEvent.assigned);
                // Dynamically set taskId
                $('#task-id').val(calEvent.id);
            }
        });
    });
</script>

<div id="myModal" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Home chore details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Event ID: <span id="event-id"></span></p>
                <p>Task Name: <span id="task-name"></span></p>
                <p>Description: <span id="task-description"></span></p>
                <p>Type: <span id="task-type"></span></p>
                <p>Long Type: <span id="task-long-type"></span></p>
                <p>Assigned member: <span id="task-assigned"></span></p>
                <form id="assign-person-form" method="post" asp-page-handler="Assign">
                    <input type="hidden" id="homeId" name="homeId" value="@Model.Id" />
                    <input type="hidden" id="task-id" name="taskId" value="" />
                    <div class="form-group">
                        <label for="assigned-person">Assign To:</label>
                        <select class="form-control" id="assigned-person" name="AssignedHomeMember.HomeMemberId">
                            @foreach (var member in Model.HomeMembers)
                            {
                                <option value="@member.HomeMemberId">@member.UserName</option>
                            }
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>

            </div>
        </div>
    </div>
</div>