@page
@model HomeChoreTracker.Portal.Pages.HomeChoreBase.CreateModel
@{
	Layout = "~/Pages/Shared/_Layout.cshtml";
}
@section HeadContent
{
	<title>@ViewData["Title"] - Home Chore Tracker</title>
	<link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" asp-append-version="true">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		  rel="stylesheet" asp-append-version="true">
	<link href="~/css/sb-admin-2.min.css" rel="stylesheet" asp-append-version="true">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
}

<div class="row">
    <div class="col-lg-12">
        <a class="btn btn-light btn-sm mb-2" href="/HomeChoreBase"><i class="fa fa-archive mr-2" aria-hidden="true"></i>Home chores</a>
        <a class="btn btn-secondary btn-sm mb-2" asp-page="./Create"><i class="fa fa-plus-circle mr-2" aria-hidden="true"></i>Create</a>

        <div class="card mb-4 py-3 mt-2 border-left-primary">
            <div class="card-body">
                <form method="post" asp-action="Create">
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input type="text" class="form-control" id="Name" name="CreateHomeChoreBase.Name" asp-for="CreateHomeChoreBase.Name">
                        <span asp-validation-for="CreateHomeChoreBase.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="ChoreType">Chore Type</label>
                        <select class="form-control" id="ChoreType" name="CreateHomeChoreBase.ChoreType" asp-for="CreateHomeChoreBase.ChoreType" required>
                            @foreach (var choreType in Enum.GetValues(typeof(HomeChoreTracker.Portal.Constants.HomeChoreType)))
                            {
                                <option value="@((int)choreType)">@choreType</option>
                            }
                        </select>
                        <span asp-validation-for="CreateHomeChoreBase.ChoreType" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Description">Description</label>
                        <input type="text" class="form-control" id="Description" name="CreateHomeChoreBase.Description" asp-for="CreateHomeChoreBase.Description">
                    </div>
                    <div class="form-group">
                        <label for="LevelType">Level Type</label>
                        <select class="form-control" id="LevelType" name="CreateHomeChoreBase.LevelType" asp-for="CreateHomeChoreBase.LevelType" required>
                            @foreach (var levelType in Enum.GetValues(typeof(HomeChoreTracker.Portal.Constants.LevelType)))
                            {
                                <option value="@((int)levelType)">@levelType</option>
                            }
                        </select>
                        <span asp-validation-for="CreateHomeChoreBase.LevelType" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Time">Time</label>
                        <select class="form-control" id="Time" name="CreateHomeChoreBase.Time" asp-for="CreateHomeChoreBase.Time" required>
                            @foreach (var time in Enum.GetValues(typeof(HomeChoreTracker.Portal.Constants.TimeLong)))
                            {
                                <option value="@((int)time)">@time</option>
                            }
                        </select>
                        <span asp-validation-for="CreateHomeChoreBase.Time" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Interval">Interval</label>
                        <input type="number" class="form-control" id="Interval" name="CreateHomeChoreBase.Interval" asp-for="CreateHomeChoreBase.Interval" min="1" step="1" value="1">
                    </div>

                    <div class="form-group">
                        <label for="Unit">Unit</label>
                        <select class="form-control" id="Unit" name="CreateHomeChoreBase.Unit" asp-for="CreateHomeChoreBase.Unit" required>
                            @foreach (var unit in Enum.GetValues(typeof(HomeChoreTracker.Portal.Constants.RepeatUnit)))
                            {
                                <option value="@((int)unit)">@unit</option>
                            }
                        </select>
                        <span asp-validation-for="CreateHomeChoreBase.Unit" class="text-danger"></span>
                    </div>
                    <div class="form-group" id="dayOfWeekField" style="display: none;">
                        <label>Days of Week</label><br>
                        @foreach (var dayOfWeek in Enum.GetValues(typeof(HomeChoreTracker.Portal.Constants.DayOfWeek)))
                        {
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="dayOfWeek_@(dayOfWeek)" name="CreateHomeChoreBase.DaysOfWeek" value="@((int)dayOfWeek)">
                                <label class="form-check-label" for="dayOfWeek_@(dayOfWeek)">@dayOfWeek</label>
                            </div>
                        }
                        <span asp-validation-for="CreateHomeChoreBase.DaysOfWeek" class="text-danger"></span>
                    </div>

                    <div class="form-group" id="dayOfMonthField" style="display: none;">
                        <label for="DayOfMonth">Day of Month</label>
                        <input type="number" class="form-control" id="DayOfMonth" name="CreateHomeChoreBase.DayOfMonth" asp-for="CreateHomeChoreBase.DayOfMonth" min="1" max="31" value="1">
                    </div>

                    <div class="form-group" id="monthlyRepeatTypeField" style="display: none;">
                        <label for="MonthlyRepeatType">Monthly Repeat Type</label>
                        <select class="form-control" id="MonthlyRepeatType" name="CreateHomeChoreBase.MonthlyRepeatType" asp-for="CreateHomeChoreBase.MonthlyRepeatType">
                            @foreach (var monthlyRepeatType in Enum.GetValues(typeof(HomeChoreTracker.Portal.Constants.MonthlyRepeatType)))
                            {
                                <option value="@((int)monthlyRepeatType)">@monthlyRepeatType</option>
                            }
                        </select>
                        <span asp-validation-for="CreateHomeChoreBase.MonthlyRepeatType" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>

@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script>
    $(document).ready(function () {
        $('#Unit').change(function () {
            var unit = $(this).val();
            if (unit == '@((int)HomeChoreTracker.Portal.Constants.RepeatUnit.Day)') {
                $('#dayOfWeekField').hide();
                $('#dayOfMonthField').hide();
                $('#monthlyRepeatTypeField').hide();
            } else if (unit == '@((int)HomeChoreTracker.Portal.Constants.RepeatUnit.Week)') {
                $('#dayOfWeekField').show();
                $('#dayOfMonthField').hide();
                $('#monthlyRepeatTypeField').hide();
            } else if (unit == '@((int)HomeChoreTracker.Portal.Constants.RepeatUnit.Month)') {
                $('#dayOfWeekField').hide();
                $('#dayOfMonthField').show();
                $('#monthlyRepeatTypeField').show();
            } else if (unit == '@((int)HomeChoreTracker.Portal.Constants.RepeatUnit.Year)') {
                $('#dayOfWeekField').hide();
                $('#dayOfMonthField').hide();
                $('#monthlyRepeatTypeField').hide();
            }
        });
    });
</script>
