@page
@model HomeChoreTracker.Portal.Pages.HomeChoreBase.IndexModel
@{
    ViewData["Title"] = "Home Chores";
}

<div class="row">

   <div class="col-lg-12">
        <a class="btn btn-secondary btn-sm mb-2" href="/">Home chores</a>
        <a class="btn btn-light btn-sm mb-2" asp-page="./Create"><i class="fa fa-plus-circle mr-2" aria-hidden="true"></i>Create</a>
   

        <div class="card mb-4 py-3 border-left-primary">

            <div class="card-body">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">@ViewData["Title"]</h1>
                    <div class="btn btn-sm btn-primary shadow-sm d-inline-block d-sm-none" data-toggle="modal" data-target="#createHomeChoreModal">
                        <i class="fa fa-plus-circle mr-2" aria-hidden="true"></i> Home Chore
                    </div>
                </div>
                @if (Model.HomeChoreBases != null && Model.HomeChoreBases.Any())
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Chore Type</th>
                                <th>Frequency</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var choreBase in Model.HomeChoreBases)
                            {
                                <tr>
                                    <td>@choreBase.Name</td>
                                    <td>@choreBase.ChoreType</td>
                                    <td>@choreBase.Frequency</td>
                                    <td>
                                        <i class="fa fa-ellipsis-h" aria-hidden="true" data-toggle="modal" data-target="#detailModal-@choreBase.Id"></i>
                                        <!-- Modal Detailed-->
                                        <div class="modal fade" id="detailModal-@choreBase.Id" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel-@choreBase.Id" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="detailModalLabel-@choreBase.Id">Detailed info - @choreBase.Name</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p><strong>Name:</strong> @choreBase.Name</p>
                                                        <p><strong>Chore Type:</strong> @choreBase.ChoreType</p>
                                                        <p><strong>Frequency:</strong> @choreBase.Frequency</p>
                                                        <p><strong>Description:</strong> @(choreBase.Description != null ? choreBase.Description : "-")</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <a class='btn btn-sm' id='btnEdit' data-toggle="modal" data-target="#editModal-@choreBase.Id"><i class='fa fa-pencil-alt'></i></a>
                                        <!-- Modal Edit -->
                                        <div class="modal fade" id="editModal-@choreBase.Id" tabindex="-1" role="dialog" aria-labelledby="editModalLabel-@choreBase.Id" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel-@choreBase.Id">Edit Home Chore - @choreBase.Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" asp-page-handler="Edit" asp-route-id="@choreBase.Id">
                    <div class="form-group">
                        <label for="EditName">Name</label>
                        <input type="text" class="form-control" id="EditName" name="EditName" value="@choreBase.Name" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="EditChoreType">Chore Type</label>
                                                                <select class="form-control" id="EditChoreType" name="EditChoreType" required>
                                                                    @foreach (var choreType in Enum.GetValues(typeof(HomeChoreTracker.Portal.Models.HomeChoreBase.Constants.HomeChoreType)))
                                                                    {
                                                                        var enumValue = (HomeChoreTracker.Portal.Models.HomeChoreBase.Constants.HomeChoreType)choreType;
                                                                        var selected = enumValue == (Models.HomeChoreBase.Constants.HomeChoreType)Model.EditHomeChore.ChoreType ? "selected" : "";
                                                                        <option value="@enumValue" selected="@selected">@enumValue</option>
                                                                    }
                                                                </select>
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="EditFrequency">Frequency</label>
                                                                <select class="form-control" id="EditFrequency" name="EditFrequency" required>
                                                                    @foreach (var frequency in Enum.GetValues(typeof(HomeChoreTracker.Portal.Models.HomeChoreBase.Constants.Frequency)))
                                                                    {
                                                                        var enumValue = (HomeChoreTracker.Portal.Models.HomeChoreBase.Constants.Frequency)frequency;
                                                                        var selected = enumValue == (Models.HomeChoreBase.Constants.Frequency)Model.EditHomeChore.Frequency ? "selected" : "";
                                                                        <option value="@enumValue" selected="@selected">@enumValue</option>
                                                                    }
                                                                </select>
                                                            </div>






                    <div class="form-group">
                        <label for="EditDescription">Description</label>
                        <textarea class="form-control" id="EditDescription" name="EditDescription" rows="3">@choreBase.Description</textarea>
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
            </div>
        </div>
    </div>
</div>



                                        <a class='btn btn-sm' id='btnDelete' data-toggle="modal" data-target="#DeleteModal-@choreBase.Id"><i class='fa fa-trash'></i></a>
                                        <!-- Modal Delete-->
                                        <div class="modal" tabindex="-1" role="dialog" id="DeleteModal-@choreBase.Id">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Delete Confirmation</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Are you sure you want to delete this '@choreBase.Name' home chore?</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                        <form method="post" asp-page-handler="Delete" asp-route-id="@choreBase.Id">
                                                            <button type="submit" class="btn btn-danger">Delete</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                    <div>
                        <ul class="pagination">
                            @if (Model.ShowPrevious)
                            {
                                <li class="page-item">
                                    <a asp-page="/HomeChoreBase/Index" asp-route-currentpage="@(Model.CurrentPage -1)" class="page-link">Previous</a>
                                </li>
                            }
                            @if (Model.ShowNext)
                            {
                                <li class="page-item">
                                    <a asp-page="/HomeChoreBase/Index" asp-route-currentpage="@(Model.CurrentPage + 1)" class="page-link">Next</a>
                                </li>
                            }
                        </ul>
                    </div>
                }
                else
                {
                    <p>No home chore bases found.</p>
                }
            </div>
        </div>
    </div>
</div>
