@page
@model HomeChoreTracker.Portal.Pages.Forum.IndexModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home";
}

@section HeadContent
{
    <title>@ViewData["Title"] - Home Chore Tracker</title>
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" asp-append-version="true">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet" asp-append-version="true">
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet" asp-append-version="true">
    <!-- Add the following lines to include required Bootstrap and jQuery files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
}
<div class="row">
    <div class="col-lg-6">
        <a class="btn btn-secondary btn-sm mb-2" href="~/Forum">
            <i class="fa fa-comments mr-2" aria-hidden="true"></i>
            Advices
        </a>
        <a class="btn btn-light btn-sm mb-2" asp-page="./Create">
            <i class="fa fa-plus-circle mr-2"
               aria-hidden="true"></i>Create
        </a>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card mb-4 py-3">
            <div class="card-body">
                @if (Model.Advices != null && Model.Advices.Any())
                {
                    @foreach (var advice in Model.Advices)
                    {
                        <div class="card mb-3 advice-card @advice.Type.ToString().ToLower()" style="border: 2px solid @(GetTextColor(advice.Type.ToString().ToLower()));">
                            <div class="row">
                                <div class="col">
                                    <h5 style="padding-left: 4px; padding-top: 4px;">@advice.Title</h5>
                                </div>
                                <div class="col-auto">
                                    <h6 style="padding-right: 4px;">@advice.UserName</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-right">
                                    <p class="border-left-type" style="color: @(GetTextColor(advice.Type.ToString().ToLower())); padding-right: 4px;">#@advice.Type</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="card-text" style="padding-left: 4px;">@advice.Description</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-right">
                                    <p class="text-right" style="padding-right: 4px;">@advice.Time</p>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div>
                        Not found advices in forum
                    </div>
                }
            </div>
        </div>
    </div>
</div>



<style>
   @functions {
    string GetTextColor(string type)
    {
        switch (type.ToLower())
        {
            case "cleaning":
                return "#4e73df";
            case "laundry":
                return "#1cc88a";
            case "kitchen":
                return "#36b9cc";
            case "bathroom":
                return "#f6c23e";
            case "bedroom":
                return "#e74a3b";
            case "outdoors":
                return "#858796";
            case "organize":
                return "#5a5c69";
            default:
                return "black";
        }
    }
}
</style>

