@page "{id}"
@model HomeChoreTracker.Portal.Pages.Purchase.IndexModel
@{
	Layout = "~/Pages/Shared/_Layout.cshtml";
}
@section HeadContent
{
	<title>@ViewData["Title"] - Home Chore Tracker</title>
	<link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" asp-append-version="true">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		  rel="stylesheet" asp-append-version="true">
	<link href="~/css/sb-admin-2.min.css" rel="stylesheet" asp-append-version="true">
	<!-- Add the following lines to include required Bootstrap and jQuery files -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
}
<div class="row">
	<div class="col-lg-12">
		<a class="btn btn-secondary btn-sm mb-2" href="/Purchase/@Model.PurchaseId"><i class="fa fa-archive mr-2" aria-hidden="true"></i>Purchases</a>
		<a class="btn btn-light btn-sm mb-2" asp-page="./AddPurchase" asp-route-id="@Model.PurchaseId"><i class="fa fa-plus-circle mr-2" aria-hidden="true"></i>Create purchase</a>

		<div class="card mb-4 py-3 border-left-primary">

			<div class="card-body">
				<div class="d-sm-flex align-items-center justify-content-between mb-4">
					<h1 class="h3 mb-0 text-gray-800">@ViewData["Title"]</h1>
					<div class="btn btn-sm btn-primary shadow-sm d-inline-block d-sm-none" data-toggle="modal" data-target="#createHomeChoreModal">
						<i class="fa fa-plus-circle mr-2" aria-hidden="true"></i> Home Chore
					</div>
				</div>
				@if (Model.Purchases != null && Model.Purchases.Any())
				{
					<table class="table">
						<thead>
							<tr>
								<th>Date</th>
								<th>Items count</th>
								<th>Is Complete</th>
								<th>Manage</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var purchase in Model.Purchases)
							{
								<tr>
									<td>@purchase.PurchaseDate.ToString("M/d/yyyy")</td>
									<td>
										@purchase.Items.Count
									</td>
									<td>@(purchase.IsCompleted ? "Yes" : "No")</td>
									<td>
										<button class='btn btn-sm' onclick="DisplayPurchaseDetailModal('@purchase.Id')">
											<i class="fa fa-check" aria-hidden="true"></i>
										</button>

										<button class='btn btn-sm' onclick="DisplayPurchaseEditModal('@purchase.Id')">
											<i class='fa fa-pencil-alt'></i>
										</button>

										<a class='btn btn-sm btnDelete' data-toggle="modal" data-target="#DeleteModal-@purchase.Id" >
											<i class='fa fa-trash'></i>
										</a>
										<div class="modal" tabindex="-1" role="dialog" id="DeleteModal-@purchase.Id">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title">Delete Confirmation</h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body">
														<p>Are you sure you want to delete this purchase?</p>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
														<form method="post" asp-page-handler="Delete" asp-route-purchaseId="@purchase.Id" asp-route-selectedHomeId="@Model.PurchaseId" id="deleteForm">
															<button type="submit" class="btn btn-danger">Delete</button>
														</form>

													</div>
												</div>
											</div>
										</div>
									</td>
								</tr>
							}
						</tbody>
					</table>
				}
				else
				{
					<p>No home chore bases found.</p>
				}
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="purchaseDetailModal" tabindex="-1" role="dialog" aria-labelledby="purchaseDetailModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="purchaseDetailModalLabel">Purchase Details</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div id="purchaseDetailContent"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" id="saveChangesBtn">Save Changes</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="purchaseEditModal" tabindex="-1" role="dialog" aria-labelledby="purchaseEditModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="purchaseEditModalLabel">Update Purchase Items</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div id="purchaseEditContent"></div>
			</div>
			<div id="errorMessage" style="color: red; text-align: center;"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" id="saveChangesEditBtn">Save Changes</button>
			</div>
		</div>
	</div>
</div>

<form id="updateShoppingItemsForm" method="post" asp-page-handler="UpdateShoppingItems">
	<input type="hidden" id="itemsToUpdateInput" name="itemsToUpdate" />
	<input type="hidden" name="purchaseId" value="@Model.PurchaseId" />
</form>


<form id="updateShoppingPurchaseForm" method="post" asp-page-handler="UpdateShoppingPurchase">
	<input type="hidden" id="purchaseIdInput" name="purchaseId" />
	<input type="hidden" id="itemsToUpdateInput" name="itemsToUpdate" />
</form>


<script>

	var currentPurchaseId;

	function DisplayPurchaseEditModal(purchaseId) {
		currentPurchaseId = purchaseId;
		$.ajax({
			url: '/Purchase/Index?handler=PurchaseDetail&purchaseId=' + purchaseId,
			type: 'GET',
			success: function (data) {
				$('#purchaseIdInput').val(purchaseId);
				$('#purchaseEditModalLabel').text("Update Purchase Items");
				var purchaseDate = new Date(data.purchaseDate);
				var formattedDate = (purchaseDate.getMonth() + 1) + '/' + purchaseDate.getDate() + '/' + purchaseDate.getFullYear();
				var content = "<form id='updateItemsForm'>";
				content += "<input type='hidden' id='purchaseId' value='" + purchaseId + "'>";
				content += "<p><strong>Date:</strong> " + formattedDate + "</p>";
				content += "<p><strong>Items:</strong> ";
				content += "<ul id='itemsList' style='list-style-type: none; padding-left: 0;'>";
				data.items.forEach(function (item) {
					content += "<li style='margin-bottom: 10px;' id='item_" + item.id + "'>";
					content += "<label for='title_" + item.id + "'>Title:</label>";
					content += "<input type='text' class='form-control' id='title_" + item.id + "' value='" + item.title + "'>";
					
					content += "<div class='error-message-title' style='color: red'></div>";
					
					content += "<label for='quantity_" + item.id + "'>Quantity:</label>";
					content += "<input type='number' class='form-control' id='quantity_" + item.id + "' value='" + item.quantity + "'>";
					
					content += "<div class='error-message-quantity' style='color: red'></div>"
					
					content += "<label for='quantityType_" + item.id + "'>Quantity Type:</label>";
					content += "<select class='form-control' id='quantityType_" + item.id + "'>" + getQuantityTypeOptions(item.quantityType) + "</select>";
					content += "<label for='productType_" + item.id + "'>Product Type:</label>";
					content += "<select class='form-control' id='productType_" + item.id + "'>" + getProductTypeOptions(item.productType) + "</select>";
					content += "<button type='button' class='btn btn-danger btn-sm remove-item' data-id='" + item.id + "'>Remove</button>";
					content += "</li>";
				});
				content += "</ul>";
				content += "<button type='button' class='btn btn-success btn-sm add-item'>Add Item</button>";
				content += "</p>";
				content += "</form>";
				$('#purchaseEditContent').html(content);
				$('#purchaseEditModal').modal('show');
			},
			error: function (error) {
				console.error('Error fetching purchase details:', error);
			}
		});
	}
	function getQuantityTypeOptions(selectedType) {
		var options = "";
		var quantityTypes = ["Grams", "Kilograms", "Liters", "Milliliters", "Pieces"];
		for (var i = 0; i < quantityTypes.length; i++) {
			options += "<option value='" + i + "' " + (i == selectedType ? "selected" : "") + ">" + quantityTypes[i] + "</option>";
		}
		return options;
	}

	function getProductTypeOptions(selectedType) {
		var options = "";
		var productTypes = [
			"Dairy", "Fruits", "Vegetables", "Meat", "Poultry", "Seafood", "Grains", "BakingSupplies",
			"CannedGoods", "Snacks", "Beverages", "Condiments", "FrozenFoods", "Spices", "Herbs", "BabyFood",
			"CleaningSupplies", "LaundrySupplies", "PersonalCareProducts", "PaperProducts", "PetSupplies",
			"GardeningSupplies", "Tools", "Batteries", "LightBulbs", "Stationery", "HomeDecor", "StorageContainers",
			"Electronics", "OfficeSupplies", "MedicalSupplies", "Books", "Toys", "Clothing", "Shoes", "Accessories",
			"Kitchenware", "Cookware", "Appliances", "Furniture"
		]; 

		for (var i = 0; i < productTypes.length; i++) {
			options += "<option value='" + i + "' " + (i == selectedType ? "selected" : "") + ">" + productTypes[i] + "</option>";
		}
		return options;
	}

	$(document).on('click', '.remove-item', function () {
		var itemId = $(this).data('id');
		$('#item_' + itemId).remove();
	});


	$(document).on('click', '.add-item', function () {
		var newItemId = 0;
		var newItemHtml = "<li style='margin-bottom: 10px;' id='item_" + newItemId + "'>";
		newItemHtml += "<label for='title_" + newItemId + "'>Title:</label>";
		newItemHtml += "<input type='text' class='form-control' id='title_" + newItemId + "' value=''>";
		
		newItemHtml += "<div class='error-message-title' style='color: red'></div>"
		
		newItemHtml += "<label for='quantity_" + newItemId + "'>Quantity:</label>";
		newItemHtml += "<input type='number' class='form-control' id='quantity_" + newItemId + "' value=''>";
		
		newItemHtml += "<div class='error-message-quantity' style='color: red'></div>"
		
		newItemHtml += "<label for='quantityType_" + newItemId + "'>Quantity Type:</label>";
		newItemHtml += "<select class='form-control' id='quantityType_" + newItemId + "'><option value='0'>Grams</option><option value='1'>Kilograms</option><option value='2'>Liters</option><option value='3'>Milliliters</option><option value='4'>Pieces</option></select>";
		newItemHtml += "<label for='productType_" + newItemId + "'>Product Type:</label>";
		newItemHtml += "<select class='form-control' id='productType_" + newItemId + "'>";
		newItemHtml += "<option value='0'>Dairy</option>";
		newItemHtml += "<option value='1'>Fruits</option>";
		newItemHtml += "<option value='2'>Vegetables</option>";
		newItemHtml += "<option value='3'>Meat</option>";
		newItemHtml += "<option value='4'>Poultry</option>";
		newItemHtml += "<option value='5'>Seafood</option>";
		newItemHtml += "<option value='6'>Grains</option>";
		newItemHtml += "<option value='7'>Baking Supplies</option>";
		newItemHtml += "<option value='8'>Canned Goods</option>";
		newItemHtml += "<option value='9'>Snacks</option>";
		newItemHtml += "<option value='10'>Beverages</option>";
		newItemHtml += "<option value='11'>Condiments</option>";
		newItemHtml += "<option value='12'>Frozen Foods</option>";
		newItemHtml += "<option value='13'>Spices</option>";
		newItemHtml += "<option value='14'>Herbs</option>";
		newItemHtml += "<option value='15'>Baby Food</option>"; newItemHtml += "<option value='13'>Spices</option>";
		newItemHtml += "<option value='16'>Cleaning Supplies</option>";
		newItemHtml += "<option value='17'>Laundry Supplies</option>";
		newItemHtml += "<option value='18'>Personal Care Products</option>";
		newItemHtml += "<option value='19'>Paper Products</option>";
		newItemHtml += "<option value='20'>Pet Supplies</option>";
		newItemHtml += "<option value='21'>Gardening Supplies</option>";
		newItemHtml += "<option value='22'>Tools</option>";
		newItemHtml += "<option value='23'>Batteries</option>";
		newItemHtml += "<option value='24'>Light Bulbs</option>";
		newItemHtml += "<option value='25'>Stationery</option>";
		newItemHtml += "<option value='26'>Home Decor</option>";
		newItemHtml += "<option value='27'>Storage Containers</option>";
		newItemHtml += "<option value='28'>Electronics</option>";
		newItemHtml += "<option value='29'>Office Supplies</option>";
		newItemHtml += "<option value='30'>Medical Supplies</option>";
		newItemHtml += "<option value='31'>Books</option>";
		newItemHtml += "<option value='32'>Toys</option>";
		newItemHtml += "<option value='33'>Clothing</option>";
		newItemHtml += "<option value='34'>Shoes</option>";
		newItemHtml += "<option value='35'>Accessories</option>";
		newItemHtml += "<option value='36'>Kitchenware</option>";
		newItemHtml += "<option value='37'>Cookware</option>";
		newItemHtml += "<option value='38'>Appliances</option>";
		newItemHtml += "<option value='39'>Furniture</option>";
		newItemHtml += "</select>";
		newItemHtml += "<button type='button' class='btn btn-danger btn-sm remove-item' data-id='" + newItemId + "'>Remove</button>";
		newItemHtml += "</li>";

		$('#itemsList').append(newItemHtml);
	});

	$(document).ready(function () {
		$('#saveChangesEditBtn').click(function () {
			var itemsToUpdate = [];
			$('#updateItemsForm li').each(function () {
				var itemId = $(this).find('input[type="text"]').attr('id').split('_')[1];
				var title = $(this).find('input[type="text"]').val();
				var quantity = $(this).find('input[type="number"]').val();
				var quantityType = $(this).find('select[id^="quantityType_"]').val();
				var productType = $(this).find('select[id^="productType_"]').val();

				itemsToUpdate.push({ id: itemId, title: title, quantity: quantity, quantityType: quantityType, productType: productType });
			});

			$('#purchaseId').val(currentPurchaseId);

			var hiddenInput = $('<input>').attr({
				type: 'hidden',
				name: 'itemsToUpdate',
				value: JSON.stringify(itemsToUpdate)
			});

			$('#updateShoppingPurchaseForm').append(hiddenInput);
			if (!validateForm()) {
				return false;
			}

			$('#updateShoppingPurchaseForm').submit();
		});
	});

	function validateForm() {
		var isValid = true;
		$('#updateItemsForm li').each(function () {
			var title = $(this).find('input[type="text"]').val().trim();
			var quantity = $(this).find('input[type="number"]').val().trim();
			var errorDivTitle = $(this).find('.error-message-title');
			var errorDivQuantity = $(this).find('.error-message-quantity');

			if (title === '') {
				errorDivTitle.text('Title is required');
				isValid = false;
			} else {
				errorDivTitle.text('');
			}

			if (quantity === '' || parseFloat(quantity) <= 0) {
				errorDivQuantity.text('Quantity is required and must be more than 0');
				isValid = false;
			} else {
				errorDivQuantity.text('');
			}
		});
		return isValid;
	}


	function DisplayPurchaseDetailModal(purchaseId) {
		$.ajax({
			url: '/Purchase/Index?handler=PurchaseDetail&purchaseId=' + purchaseId,
			type: 'GET',
			success: function (data) {
				$('#purchaseDetailModalLabel').text("Purchase Details");
				var purchaseDate = new Date(data.purchaseDate);
				var formattedDate = (purchaseDate.getMonth() + 1) + '/' + purchaseDate.getDate() + '/' + purchaseDate.getFullYear();
				var content = "<p><strong>Date:</strong> " + formattedDate + "</p>";
				content += "<p><strong>Items:</strong> ";
				content += "<ul style='list-style-type: none; padding-left: 0;'>";
				data.items.forEach(function (item) {
					content += "<li style='display: inline-block; margin-right: 10px;'>";
					content += "<input type='checkbox' id='item_" + item.id + "' " + (item.isCompleted ? "checked" : "") + "> ";
					content += item.title + " | Quantity: " + item.quantity + " " + getQuantityTypeString(item.quantityType) + " | " + getProductTypeString(item.productType) + "</li>";
				});
				content += "</ul>";
				content += "</p>";
				$('#purchaseDetailContent').html(content);

				// Set the PurchaseId in the modal form
				$('#purchaseIdInput').val(purchaseId);

				$('#purchaseDetailModal').modal('show');
			},
			error: function (error) {
				console.error('Error fetching purchase details:', error);
			}
		});
	}

	function getQuantityTypeString(quantityType) {
		switch (quantityType) {
			case 0:
				return "Grams";
			case 1:
				return "Kilograms";
			case 2:
				return "Liters";
			case 3:
				return "Milliliters";
			case 4:
				return "Pieces";
			default:
				return "Unknown";
		}
	}

	function getProductTypeString(productType) {
		switch (productType) {
			case 0:
				return "Dairy";
			case 1:
				return "Fruits";
			case 2:
				return "Vegetables";
			case 3:
				return "Meat";
			case 4:
				return "Poultry";
			case 5:
				return "Seafood";
			case 6:
				return "Grains";
			case 7:
				return "BakingSupplies";
			case 8:
				return "CannedGoods";
			case 9:
				return "FrozenFoods";
			case 10:
				return "Snacks";
			case 11:
				return "Condiments";
			case 12:
				return "Sauces";
			case 13:
				return "Spices";
			case 14:
				return "Others";
			default:
				return "Unknown";
		}
	}

	$(document).ready(function () {
		$('#saveChangesBtn').click(function () {
			var itemsToUpdate = [];
			$('input[type=checkbox]').each(function () {
				var itemId = parseInt($(this).attr('id').split('_')[1]);
				var isCompleted = $(this).prop('checked');
				itemsToUpdate.push({ id: itemId, isCompleted: isCompleted });
			});

			var hiddenInput = $('<input>').attr({
				type: 'hidden',
				name: 'itemsToUpdate',
				value: JSON.stringify(itemsToUpdate)
			});

			$('#updateShoppingItemsForm').append(hiddenInput);

			$('#updateShoppingItemsForm').submit();
		});
	});

</script>

<style>
	ul {
		list-style-type: none;
	}

	input[type=checkbox] {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border-radius: 50%;
		width: 20px;
		height: 20px;
		border: 2px solid #ccc;
		outline: none;
		cursor: pointer;
		position: relative;
		vertical-align: middle;
		margin-bottom: 3px;
	}

	input[type=checkbox]:checked {
		background-color: #007bff;
		border-color: #007bff;
	}

	input[type=checkbox]:checked::before {
		content: '\2713';
		display: block;
		width: 100%;
		text-align: center;
		color: white;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	li {
		display: inline-block;
		margin-right: 10px;
		vertical-align: middle;
	}
</style>