@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Chores"; 
}

@section HeadContent
{
    <title>@ViewData["Title"] - Home Chore Tracker</title>
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" asp-append-version="true">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet" asp-append-version="true">
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet" asp-append-version="true">
    <!-- FullCalendar styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" />
}


<div class="row">

    <!-- Border Left Utilities -->
    <div class="col-lg-12">

        <div class="card mb-4 py-3 border-left-primary">
            <div class="card-body">

                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">@ViewData["Title"]</h1>
                    <a href="#" class="btn btn-sm btn-primary shadow-sm d-none d-sm-inline-block" data-toggle="modal" data-target="#createHomeChoreModal">
                        <i class="fa fa-plus-circle mr-2" aria-hidden="true"></i> Create new home chore
                    </a>
                    <div class="btn btn-sm btn-primary shadow-sm d-inline-block d-sm-none" data-toggle="modal" data-target="#createHomeChoreModal">
                        <i class="fa fa-plus-circle mr-2" aria-hidden="true"></i> Home Chore
                    </div>
                </div>




                <div class="modal fade" id="createHomeChoreModal" tabindex="-1" role="dialog" aria-labelledby="createHomeChoreModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="createHomeChoreModalLabel">Create New Home Chore</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <!-- Your form goes here -->
                                <form method="post" action="@Url.Action("Create", "HomeChoreBase")">
                                    <div class="form-group">
                                        <label for="Name">Name</label>
                                        <input type="text" class="form-control" id="Name" name="Name" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="ChoreType">Chore Type</label>
                                        <!-- Add dropdown for ChoreType -->
                                    </div>
                                    <div class="form-group">
                                        <label for="Frequency">Frequency</label>
                                        <!-- Add dropdown for Frequency -->
                                    </div>
                                    <div class="form-group">
                                        <label for="Description">Description</label>
                                        <textarea class="form-control" id="Description" name="Description"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Create</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                @if (Model != null && Model.Count > 0)
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Chore Type</th>
                                <th>Frequency</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var choreBase in Model)
                            {
                                <tr>
                                    <td>@choreBase.Name</td>
                                    <td>@choreBase.ChoreType</td>
                                    <td>@choreBase.Frequency</td>
                                    <td>@(string.IsNullOrEmpty(choreBase.Description) ? "-" : choreBase.Description)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>No home chore bases found.</p>
                }
            </div>
        </div>
    </div>
</div>



<!-- Your scripts if needed -->
<!-- Your scripts -->
<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="~/js/sb-admin-2.min.js"></script>
<script src="~/vendor/chart.js/Chart.min.js"></script>
<script src="~/js/demo/chart-area-demo.js"></script>
<script src="~/js/demo/chart-pie-demo.js"></script>